<%content_for :title do%>Home<%end%>
<h1> ICYF Bracket Challenge Fundraiser
	<span><%=link_to( "Check out an example bracket", image_path("bracket_image.png"), :class => "btn btn-lg" )%><?span>
</h1>
<ul id="landing_page_list">
	<li>$25 tax deductible donation to ICYF.</li>
	<li>All the proceeds go directly to ICYF.</li>
	<li>Win super awesome prizes</li>
	<ul>
		<li>Tesla Model S.</li>
		<li>5 day ski vacation in Aspen.</li>
		<li>Ammie McGraw cleans your garage.</li>
	</ul>
</ul>
<div>
	<a class="btn btn-primary btn-lg" href="/players/sign_up" role="button" >Sign Up</a>  
</div>
<a href="/players/sign_in">Sign In</a>


	

