<h1>Signup Complete</h1>
<h2>Thanks for donating to the ICYF, a receipt has been sent to the email you used during registration.</h2>
<h2>Invite others to play by sending them this link:  <%= link_to new_player_registration_url, new_player_registration_path %></h2>
<h2>Get started filling out your <%= link_to "bracket", brackets_edit_path %></h2>
